.kesimpulan-saran {
    padding: 12px 12vw;
    display: flex;
    justify-content: center;
    gap: 16px; 
    flex-wrap: wrap;
}

.kesimpulan-content,
.saran-content {
    flex: 1;
}

.kesimpulan-icon,
.saran-icon {
    border-radius: 50%;
    border: 4px #AF9353 solid;
    width: 100px;
    height: 100px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    margin: auto;
    padding: 4px;
}

.kesimpulan-content p,
.saran-content p {
    text-align: center;
}

.kesimpulan-content h2,
.saran-content h2 {
    text-align: center;
}

.kesimpulan-icon img,
.saran-icon img {
    max-width: 78px;
    width: 100%;
}