.lampiran-content,
.daftarpustaka-content {
    margin: 0;
    padding: 12px;
}

.daftarpustaka-content {
    padding: 12px 12vw;
    word-wrap: break-word;
}

.lampiran-content h2,
.daftarpustaka-content h2 {
    text-align: center;
    word-wrap: break-word;
}

.daftarpustaka-content p {
    margin: 8px 0;
    word-wrap: break-word;
}

.lampiran-showcase {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0 24px;
    height: auto;
    width: auto;
}

.lampiran-1,
.lampiran-3 {
    flex: 1;
}

.lampiran-2 {
    flex: 1;
}

.lampiran-showcase a {
    background-color: #AF9353;
    cursor: pointer;
    color: white;
    transition: .2s ease;
}

.previous {
    border-radius: 6px 0 0 6px;
}
.next {
    border-radius: 0 6px 6px 0;
}

.lampiran-1 {
    text-align: right;
}

.lampiran-3 {
    text-align: left;
}

.lampiran-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.lampiran-2 img {
    height: 100%;
    width: 100%;
    min-width: 200px;
    max-width: 450px;
}

.lampiran-2 video {
    height: 100%;
    width: 100%;
    min-width: 200px;
    max-width: 450px;
}

.fade-animation {
    animation: fade .4s ease;
}

@keyframes fade {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

.lampiran-showcase {
    display: none;
    padding: 12px 10vw;
}

.lampiran-showcase a:hover {
    opacity: .8;
}

.lampiran-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #AF9353;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #835b00;
}

.lampiran-circle {
    text-align: center;
}