.latarbelakang-content {
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 12px 12vw;
}

.latar-belakang p {
    border: 1px black solid;
    background-color: #202020;
    padding: 24px 12px;
    text-align: center;
    justify-content: center;
    color: #fff;
}