html {
    scroll-behavior: smooth;
}

html {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

body {
    background-color: white;
    top: 0;
    left: 0;
    margin: 0;
}

.show {
    display: block;
}

@font-face {
    font-family: knockout;
    src: url(/asset/knockout.otf);
}

@font-face {
    font-family: oswald;
    src: url(/asset/oswald-bold.ttf);
}

.footer {
    height: 45px;
    background-color: #AF9353;
    color: white;
    text-shadow: 2px 2px 3px rgba(33, 31, 32, 1);
    box-shadow: rgba(100, 100, 111, 0.2) 3px 7px 29px 3px;
    bottom: 0;
    left: 0;
    justify-content: end;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    padding: 0 16px;
    margin-top: 32px;
}