@media (width <= 1028px) {
    .nav-aboutUs *,
    .nav-first *,
    .nav-second *,
    .nav-third *,
    .nav-fourth *,
    .nav-fifth * {
        display: none;
    }
    .hamburger-menu {
        display: flex;
    }
    .main-img-text {
        font-size: 4vw;
    }
    .nav-title2 h1 {
        display: flex;
    }
}

@media (width >= 1029px) {
    .hamburger-menu {
        display: none;
    }
    .main-img-text {
        font-size: 4vw;
    }
    .nav-title2 h1 {
        display: none;
    }
}