@media (width <= 1028px) {
    .nav-aboutUs *,
    .nav-first *,
    .nav-second *,
    .nav-third *,
    .nav-fourth *,
    .nav-fifth * {
        display: none;
    }
    .hamburger-menu {
        display: flex;
    }
    .main-img-text {
        font-size: 4vw;
    }
    .nav-title2 h1 {
        display: flex;
    }
}

@media (width >= 1029px) {
    .hamburger-menu {
        display: none;
    }
    .main-img-text {
        font-size: 4vw;
    }
    .nav-title2 h1 {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .kotak-proyek {
        padding: 16px;
        background-color: grey;
        font-size: 20px;
        margin: 0 8px;
    }
    .manfaatproyek-caption h2,
    .manfaatproyek-caption p,
    .aspek-biologi-caption h3,
    .aspek-biologi-caption p,
    .aspek-fisika-caption h3,
    .aspek-fisika-caption p,
    .aspek-kimia-caption h3,
    .aspek-kimia-caption p {
        font-size: small;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .kotak-proyek {
        padding: 20px;
        background-color: grey;
        font-size: 20px;
        margin: 0 10px;
    }
    .manfaatproyek-caption h2,
    .manfaatproyek-caption p,
    .aspek-biologi-caption h3,
    .aspek-biologi-caption p,
    .aspek-fisika-caption h3,
    .aspek-fisika-caption p,
    .aspek-kimia-caption h3,
    .aspek-kimia-caption p {
        font-size: medium;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .kotak-proyek {
        padding: 24px;
        background-color: grey;
        font-size: 22px;
        margin: 0 10px;
    }
    .manfaatproyek-caption h2,
    .manfaatproyek-caption p,
    .aspek-biologi-caption h3,
    .aspek-biologi-caption p,
    .aspek-fisika-caption h3,
    .aspek-fisika-caption p,
    .aspek-kimia-caption h3,
    .aspek-kimia-caption p {
        font-size: medium;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .kotak-proyek {
        padding: 28px;
        background-color: grey;
        font-size: 22px;
        margin: 0 12px;
    }
    .manfaatproyek-caption h2,
    .manfaatproyek-caption p,
    .aspek-biologi-caption h3,
    .aspek-biologi-caption p,
    .aspek-fisika-caption h3,
    .aspek-fisika-caption p,
    .aspek-kimia-caption h3,
    .aspek-kimia-caption p {
        font-size: large;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .kotak-proyek {
        padding: 32px;
        background-color: grey;
        font-size: 24px;
        margin: 0 12px;
    }
    .manfaatproyek-caption h2,
    .manfaatproyek-caption p,
    .aspek-biologi-caption h3,
    .aspek-biologi-caption p,
    .aspek-fisika-caption h3,
    .aspek-fisika-caption p,
    .aspek-kimia-caption h3,
    .aspek-kimia-caption p {
        font-size: large;
    }
}