.metodepenelitian-content {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 12px 8vw;
    gap: 16px;
}

.metodepenelitian {
    text-align: center;
}


.mtdpenelitian {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 2rem 0;
}

.mtdpenelitian-img img {
    max-width: 275px;
    width: 100%;
    margin: 0;
}

.mtdpenelitian {
    background-color: #AF9353;
}

.mtdpenelitian-object {
    display: flex;
    gap: 2rem;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin: 2rem 12vw;
}

.mtdpenelitian-object p {
    margin: 4px 0;
}

.mtdpenelitian-object h3 {
    margin: 8px 0;
}

.mtdpenelitian-caption {
    font-family: knockout;
    color: white;
    flex-direction: column;
    list-style: none;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
}

#alatbahan {
    color: rgb(136, 128, 52);
}

#langkahkerja {
    color: rgb(197, 197, 37);
}

.divideralat {
    display: flex;
    gap: 16px;
}

.oddeven-coloring p:nth-child(odd) {
    color: bisque;
}