.metodepenelitian-content,
.jenispenelitian-content {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 12px 8vw;
    gap: 16px;
}

.metodepenelitian,
.metodepenelitian {
    text-align: center;
}

.mtdpenelitian,
.jnspenelitian {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 2rem 0;
}

.mtdpenelitian-img img {
    width: 100%;
    margin: 0;
    flex: 1;
}

.mtdpenelitian-img {
    text-align: right;
    align-items: end;
    justify-content: end;
    flex: 1;
}

.mtdpenelitian {
    background-color: #AF9353;
}

.mtdpenelitian-object,
.jnspenelitian-object {
    display: flex;
    gap: 2rem;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin: 2rem 7.5vw;
}

.mtdpenelitian-object p {
    margin: 4px 0;
}

.mtdpenelitian-object h3 {
    margin: 8px 0;
}

.mtdpenelitian-caption {
    font-family: 'Josefin Sans';
    font-weight: bold;
    color: white;
    flex-direction: column;
    list-style: none;
    text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 0.4);
    flex: 2;
}


#langkahkerja,
#alatbahan {
    color: rgb(243, 222, 35);
}

.divideralat {
    display: flex;
    gap: 16px;
}

.oddeven-coloring p:nth-child(odd) {
    color: bisque;
}


.jenispenelitian-caption,
.waktupenelitian-caption,
.prosedur-caption,
.variabelpenelitian-caption,
.teknikpengumpulan-caption,
.instrumenpenelitian-caption,
.analisisdata-caption {
    text-align: left;
    padding: 0 12vw;
}

.jenispenelitian-caption p,
.waktupenelitian-caption p,
.prosedur-caption p,
.variabelpenelitian-caption p,
.teknikpengumpulan-caption p,
.instrumenpenelitian-caption p,
.analisisdata-caption p {
    margin: 4px 0;
}

.jenispenelitian-caption h3,
.waktupenelitian-caption h3,
.prosedur-caption h3,
.variabelpenelitian-caption h3,
.teknikpengumpulan-caption h3,
.instrumenpenelitian-caption h3,
.analisisdata-caption h3 {
    margin: 8px 0;
}

.penelitian-sub {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.jenispenelitian-header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 3px #AF9353 solid;
}

.jenispenelitian-header i {
    float: right;
    transform: rotate(-90deg);
    transition: .2s;
}