.rumusanmasalah-content {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 12px 10vw;
}

.rumusan-masalah-3 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.rumusan-masalah {
    text-align: center;
}

.bidang-biologi-rumusan,
.tujuan-penelitian-proyek1 {
    color: white;
    text-align: justify;
    width: 250px;
    height: 250px;
    background-color: #AF9353;
    padding-bottom: 12px;
    text-shadow: 2px 2px 3px rgba(33, 31, 32, 1);
}

.bidang-fisika-rumusan,
.tujuan-penelitian-proyek2 {
    color: white;
    text-align: justify;
    width: 250px;
    height: 250px;
    background-color: #7E7F4D;
    padding-bottom: 12px;
    text-shadow: 2px 2px 3px rgba(33, 31, 32, 1);
}

.bidang-kimia-rumusan,
.tujuan-penelitian-proyek3 {
    color: white;
    text-align: justify;
    width: 250px;
    height: 250px;
    background-color: #AF9353;
    padding-bottom: 12px;
    text-shadow: 2px 2px 3px rgba(33, 31, 32, 1);
}

.bidang-fisika-rumusan li,
.bidang-kimia-rumusan li,
.bidang-biologi-rumusan li {
    margin: 8px 0;
}
.bidang-fisika-rumusan ol,
.bidang-kimia-rumusan ol,
.bidang-biologi-rumusan ol {
    padding: 0 2.5rem;
}

.bidang-biologi-rumusan,
.bidang-fisika-rumusan,
.bidang-kimia-rumusan,
.tujuan-penelitian-proyek1,
.tujuan-penelitian-proyek2,
.tujuan-penelitian-proyek3 {
    padding: 2rem 12px;
}

.bidang-biologi-rumusan h3,
.bidang-fisika-rumusan h3,
.bidang-kimia-rumusan h3,
.tujuan-penelitian-proyek1 h3,
.tujuan-penelitian-proyek2 h3,
.tujuan-penelitian-proyek3 h3 {
    margin: 0;
    text-align: center;
}

.thumbnail-1,
.thumbnail-2,
.thumbnail-3 {
    display: flex;
    flex-direction: column;
}

.thumbnail-1 img,
.thumbnail-2 img,
.thumbnail-3 img {
    height: auto;
    width: 100%;
    margin: auto;
    height: 180px;
    object-fit: cover;
}

.thumbnail-1 img {
    transform: scaleX(-1);
}

/* * {border: 1px black solid;} */

.bidang-biologi-thumbnail,
.bidang-kimia-thumbnail,
.bidang-fisika-thumbnail {
    display: flex;
    width: 274px;
    padding: none;
}