.tujuanpenelitian-content {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 12px 8vw;
    gap: 16px;
}

.landasanteori {
    text-align: center;
}

.tujuan-penelitian-proyek1,
.tujuan-penelitian-proyek2,
.tujuan-penelitian-proyek3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aspek-biologi h2,
.aspek-fisika h2,
.aspek-kimia h2 {
    margin: 8px 0;
}

.aspek-biologi-caption h3,
.aspek-biologi-caption p,
.aspek-fisika-caption h3,
.aspek-fisika-caption p,
.aspek-kimia-caption h3,
.aspek-kimia-caption p {
    margin: 8px 0;
}

.aspek-biologi-header,
.aspek-fisika-header,
.aspek-kimia-header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 3px #AF9353 solid;
}

.aspek-biologi i,
.aspek-fisika i,
.aspek-kimia i {
    float: right;
    transform: rotate(-90deg);
    transition: .2s;
}

.manfaatproyek-content,
.tujuanproyek-content {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 12px 10vw;
}

.manfaat-proyek,
.tujuan-proyek {
    text-align: center;
}

.manfaat-proyek1,
.manfaat-proyek2 {
    align-items: start;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex: 1;
    word-wrap: break-word;
}

.manfaatproyek-caption {
    display: flex;
    flex-direction: column;
}

.manfaatproyek-caption h2,
.manfaatproyek-caption p {
    margin: 0;
    font-size: medium;
}

.manfaatproyek-wrapper {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.kotak-proyek {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.tujuan-penelitian-proyek1 li,
.tujuan-penelitian-proyek2 li,
.tujuan-penelitian-proyek3 li {
    margin: 8px 0;
}

.tujuan-penelitian-proyek1 ol,
.tujuan-penelitian-proyek2 ol,
.tujuan-penelitian-proyek3 ol {
    padding: 0 2.5rem;
}